<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>密码修改成功</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
</head>
<body style="background-image: url({% static 'b3.jpg' %});background-size:100% 380%;">
</body>
<body>
<div>
    <div>
        <div>
            <h1 class="logo"><a href="{% url 'user' %}">植 物 保 姆</a></h1>
            <p>密码修改成功！点击
                <button class="btn btn-default"><a href="{% url 'index' %}">返回主页面</a> </button>
                回到到主页面
            </p>

        </div>
    </div>
</div>
</body>
</html>