<!doctype html>
{% load static %}
<html>
<head>
    <script src="{% static 'javascripts/jquery-3.3.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'javascripts/bootstrap-3.3.7.min.js' %}" type="text/javascript"></script>
    <meta charset="UTF-8">
    <title>'I'植物保姆</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}">
    <script src="{% static 'javascripts/modernizr.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var i = 0;
            var timer = null;
            $(".btn-success").click(function(){
                $.get('/data?get=on', function(){
                    $("#counter").html('已开始');
                    timer = setInterval(function(){
                        $.get('/data?recv', function(data){
                            var result = JSON.parse(data);
                            $("#s").html("当前土壤湿度：" + result['s'] + " (1为缺水，0为正常）");
                            $("#g").html("当前光照：" + result['g'] + "（1为缺光，0为光照充足）");
                            $("#t").html("当前温度：" + result['t'] + " ℃");
                            $("#h").html("当前湿度：" + result['h'] + " RH ");
                        });
                    }, 1000);
                })
            });
            $(".btn-danger").click(function(){
                $.get('/data?get=off', function(){
                    $("#counter").html('已关闭');
                    clearInterval(timer);
                })
            });
        });




    </script>
</head>
<body>
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <h1 class="topbar-logo none"><a href="index.html" class="navbar-brand">首页</a></h1>
            <ul class="navbar-list clearfix">
                <li><a class="on" href="index.html">首页</a></li>
            </ul>
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
               <li>您已登录，欢迎您：{{ user.username }}</li>
                <li><a href="{% url 'logout' %}?next={{ request.path }}">注销登录</a></li>
                <li><a href="{% url 'password_change' %}?next={{ request.path }}">修改密码</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font">&#xe003;</i>常用操作</a>
                    <ul class="sub-menu">
                        <li><a href="index.html"><i class="icon-font">&#xe008;</i>植物当前状态数据</a></li>
                        <li><a href="design.html"><i class="icon-font">&#xe005;</i>数据分析</a></li>
                        <li><a href="water.html"><i class="icon-font">&#xe006;</i>给植物浇水</a></li>
                        <li><a href="detail.html"><i class="icon-font">&#xe006;</i>小贴士</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="icon-font">&#xe018;</i>系统管理</a>
                    <ul class="sub-menu">
                        <li><a href="jiankong.html"><i class="icon-font">&#xe017;</i>监控</a></li>
                        <li><a href="add.html"><i class="icon-font">&#xe006;</i>设备列表</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--/sidebar-->
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font">&#xe06b;</i><span>欢迎使用'I'植物保姆，可爱的植物将会每天与你的健康一同成长。</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-title">
                <h1>小贴士</h1>
            </div>
            <div class="result-content">
                <p>
                <h2 style="color:green;">浇水是养花之中的一门很重要的学问，每一种花的喜阳喜阴程度不一样，所以浇水的频率也会不一样</h2><br/><br/><br/>

                发财树的根系不发达，因此水一大就容易积水，所以大约半个月,1个月浇1次即可。<br/><br/><br/>

                吊兰的根系也是肉质根哦，因此浇水也不用太频繁。大约1周1~2次就可以了，平时要多往叶子上喷水哦，增加空气湿度，能够避免干尖呢。<br/><br/><br/>

                三角梅大概1周左右浇一次水即可，浇水时间最好选择在傍晚，而且要浇透哦。<br/><br/><br/>

                多肉品种比较多，喜水情况不同，因此浇水也不能一概而论。不过多肉一般都是比较耐旱的，因此1~2周浇水一次差不多。<br/><br/><br/>
                绿萝喜欢湿润的环境，喜水，因此浇水要多一些。一般2~3天浇一次水，夏天注意适当给它遮阴哦。

                长寿花也是多肉植物的一种哦，厚厚的叶片有储水功能，因此浇水要谨慎哦。一般1周左右浇1次水即可。<br/><br/><br/>

                茉莉喜水，尤其是夏天天气炎热，蒸发量加大，因此浇水一定要跟得上哦 ,喜欢湿润，半阴的环境，因此，要保持盆土湿润哦，浇水大约4~5天1次，保持盆土湿润哦<br/><br/><br/>

                平安树对水分的要求比较高， 因此，浇水要及时哦，而且要加强通风哦，日常1周左右浇水1次即可，而且平时要多往叶子上喷水，增加空气湿度。<br/><br/><br/>

                杜鹃喜欢湿润，因此，浇水要多一些哦，大概3~4天就要浇水1次。而且平时要多往叶子上和周围地面喷水，增加空气湿度哦。<br/><br/><br/>

                碰碰香不耐潮湿，因此浇水要适度。可以在看见叶子萎蔫之后浇水。<br/><br/><br/>

                太阳花听名字就知道啊热爱阳光的一个超级活泼可爱的花花，比较耐晒，浇水见干见湿即可。<br/><br/><br/>

                鸭脚木喜欢湿润，不耐干旱，因此水分要充足哦。一般情况下，大概1周浇1次水就足够了哦~<br/><br/><br/>

                富贵竹一般都是水培的，因此，看见水位下降了添水就好。如果是土培的，建议保持土壤湿润，大概3~4天浇水1次吧。<br/><br/><br/>

                薄荷是比较好养的植物了，喜欢湿润的环境。因此，浇水大概3~4天一次，而且要多晒太阳哦。<br/><br/><br/>

                玉树也是多肉的一种啦，本身的储水能比比较强，因此浇水不能太频繁啊，1个月浇水1~2次即可，平时保持土壤偏干的状态。<br/><br/><br/>

                天竺葵需要大肥大水大太阳才能开花好看。因此，4~5天浇水1次就好。<br/><br/><br/>

                常春藤对水分的要求比较高，因此要3~4天浇水一次，而且要浇透哦，而且除了浇水以外，平时要多往常春藤的叶子上洒水哦，增加空气湿度。<br/><br/><br/>

                月季浇水要充足哦，夏天浇水要多，差不多一天一次的，但是随着温度的降低，浇水可以减少为2~3天一次哦,一而且要一次性浇透哦,而且最好在傍晚的时候浇水<br/><br/><br/>

                豆瓣绿对水分的要求不是很高，比较耐旱。因此浇水大概3~4天一次即可。<br/><br/><br/>

                蝴蝶兰大部分是用水苔养殖的，保水性比较强，因此浇水的时候可以拎起来看看，如果变轻了就浇水。或者，1周浇水1次差不多这种的。<br/><br/><br/>

                君子兰是肉质根，本身就能存储的一定的水分，因此宁可浇少一点儿，也不能多浇，一旦积水，根部必烂。大概1周浇水一次，浇透即可。<br/><br/><br/>

                龟背竹喜欢湿润的环境！因此浇水一定要充足哦！室内养殖的龟背竹可以3~4天浇水1次，同时要往叶子上喷水，增加空气湿度。<br/><br/><br/>

                牡丹吊兰是肉质根，有较强的储水能力，因此，浇水要少哦~大概4~5天浇水1次。<br/><br/><br/>

                金钱树是肉质根， 所以很怕积水，宁可干一点儿也不能积水啊！大概半个月浇水1次即可。<br/><br/><br/>

                红掌喜水，但是积水却容易烂根，因此浇水一定要见干见湿哦，大约3~4天浇水一次就可以了，而且浇水的时间最好选择在早晨哦，而且不要让花和叶子沾着水过夜，会烂掉的。<br/><br/><br/>

                白掌一般是水培的，保持水位就可以了、如果是土培的，那么3~4天浇水1次就可以了。<br/><br/><br/>

                兰花的浇水也是很讲究的，肉质根，本身能储存一定的水分，因此浇水的时候千万不能积水哦。浇水见干见湿即可。<br/><br/><br/>

                幸福树喜欢潮湿的环境，但是根系不是很发达，一旦浇水多了，就很容易积水烂根的。一般1个月浇水1~2次即可。<br/><br/><br/>

                虎皮兰超级好养的，记得花花有一两个月没浇水了，结果人家仍旧活的好好的呀，大概1个月浇水1~2次就可以，注意不要暴晒哦。<br/><br/><br/>

                桂花喜欢湿润的环境，北方一般都是盆栽的，浇水要慎重。现在的话，大概3~4天浇水一次，而后随着温度的降低，浇水时间慢慢延长。<br/><br/><br/>

                铜钱草喜水！因此浇水一定要多哦！土培的一天2~3遍水，花花建议大家半土半水，到时候直接添水就可以了。<br/><br/><br/>
                </p>
            </div>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>