<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>系统设置</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="./sysreboot.do">
  
  <p>
    <input type="submit" name="button" id="button" value="重启系统" />
    <br />
  </p>
</form>
<form id="form1" name="form1" method="post" action="./syshalt.do">
  
  <p>
    <br />
<input type="submit" name="button" id="button" value="关    机" />
  </p>
</form>
</body>
</html>
