<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <body style="background-image: url({% static 'b3.jpg' %});background-size:100% 250%;">
<body>
    <meta charset="UTF-8">
    <title>注册系统</title>
    <style type ="text/css">
    #i1{
      margin-top:10px;
    }
    #i2{
      margin-top:10px;
    }
    #i4{
      margin-top:10px;
    }
    #i3{
      margin-top:20px;
      margin-left:90px;
      width:120px;
      height:30px;
    }
    </style>
</head>
<body>
<div class="col-md-6" role="main">
    <h1 >欢迎来到植物保姆系统！</h1>
    <h2>请填写以下信息</h2>
</div>
<form>
    *手机号：
    <input id="i1"type="text">
    <br/>
    *用户名：
    <input id="i4"type="text">
    <br/>
    &#160;&#160;&#160;&#160;*密码：
    <input id="i2"type="password">
    <br/>
    <input id="i3"type="button"value="确认注册" onclick="t1()">
</form>
</body>
</html>